################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FixMe/obj/Debug
/FixMe/bin/Debug
/FixMe/.vs/MakeItAsync/v16
